<%- include('../layouts/header'); -%>

    <main class="container my-5">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                <h1 class="h4 mb-0">Create New Product</h1>
                <a href="/products" class="btn btn-outline-light btn-sm">
                    <i class="bi bi-arrow-left me-2"></i>Back to Products
                </a>
            </div>
            <div class="card-body">
                <form action="/products" method="post">
                    <label>Name</label>
                    <input name="name" type="text" class="form-control" required>
                
                    <label>Description</label>
                    <input name="description" type="text" class="form-control">
                
                    <label>Image URL</label>
                    <input name="image" type="text" class="form-control">
                
                    <label>Price</label>
                    <input name="price" type="number" class="form-control" required>
                
                    <label>Quantity</label>
                    <input name="quantity" type="number" class="form-control" required>
                
                    <button type="submit" class="btn btn-outline-warning">Submit</button>
                </form>                
            </div>
        </div>
    </main>

    <%- include('../layouts/footer'); -%>